* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
button {
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-radius: 100vw;
  border: 2px solid orange;
  color: #0556edc2;
  background: transparent;
  transition: background 300ms, transform 100ms;
}
button:hover {
  background: orange;
  border: 2px solid #0556edc2;
  color: white;
}

h1 {
  font-size: 4rem;
  align-self: flex-end;
  color: orange;
}
